.calculator__result {
  margin-left: 2rem;
  font-size: 2rem;
}

.calculator__help-text__content {
  display: none;
}

.calculator__help-text__content--expanded .calculator__help-text__content {
  display: block;
}

label.error {
  font-weight: 300;
  color: red;
}
