.calculator__result {
  margin-left: 2rem;
  font-size: 2rem;
}

.calculator__help-text__content {
  display: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}
.calculator__help-text__contact {
  color: black;
}

.calculator__help-text__contact:hover {
  color: white;
}

.calculator__help-text__content--expanded .calculator__help-text__content {
  display: block;
}

label.error {
  font-weight: 300;
  color: red;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#calculator__info-icon {
  cursor: pointer;
  margin-left: 1rem;
}
